@use "../../settings/index" as *;

.flexRow--promotional-tip-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 45px;
    background-color: $color-gray-500;

    :global(.vtex-promotional-tip-bar--close-btn) {
        position: absolute;
        right: 10px;
        width: 20px !important;
        height: 20px !important;
        padding: 0px;
        margin: 0px;
        top: 50%;
        transform: translate(-10px, -50%);
    
        @include defaultBtns;
    }

    :global(.vtex-promotional-tip-bar--value) {
        font-family: $font-poppins;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: $color-white;
        text-wrap: nowrap;
    }
}