@use "../../../../settings/index" as *;

.flexRow--header-sticky-bar-mobile {
    width: 100%;
	height: auto;
	padding: 10px 20px;
	margin: 0;
    background-color: $color-white;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;

    :global(.vtex-store-components-3-x-container){
        padding: 0px !important;
    }
}

.flexRowContent--header-sticky-bar-mobile {
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
}

.flexRow--header-sticky-bar-mobile-first-line,
.flexRow--header-sticky-bar-mobile-second-line,
.flexRowContent--header-sticky-bar-mobile-second-line {
    width: 100%;
}

.flexRowContent--header-sticky-bar-mobile-first-line {
    justify-content: space-between;
    align-items: center;
}

.flexRow--right-side-header-mobile {
    .flexRowContent--right-side-header-mobile {
        display: flex;
        align-items: center;
        justify-content: center;

        :global(.vtex-search-custom-mobile--container) {
            position: absolute;
            left: 0px;
            bottom: -45px;
            background: $color-white;
            padding: 0px 20px 10px 20px;
        }
    }
}

