@use "../settings/reset" as *;
@use "../components/mini-cart/index" as *;
@use "../components/header/index" as *; 
@use "../components/footer/index" as *;
@use "../components/cart/index" as *;
@use "../components/email/index" as *;	
@use "../components/profile/index" as *;
@use "../components/shipping/index" as *;
@use "../components/payment/index" as *;
