@use "../../settings/index" as *;

.nameContainer--shelf-product-default--name {
    margin-top: 10px;
    padding: 0px 16px!important;
    align-items: flex-start;
    justify-content: flex-start;
}


.productNameContainer--shelf-product-default--name {
    font-family: $font-poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: $color-shelf-default-name;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    text-align: left;
}


.brandName--shelf-product-default--name {
    font-family: $font-poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: $color-shelf-default-name;
}

.priceContainer--shelf-product-default--price {
    padding: 0px !important;
    align-items: flex-start;
}

.sellingPriceContainer--shelf-product-default--price {
    padding: 0px;
    text-align: left;
}

.sellingPrice--shelf-product-default--price {
    display: flex;
    padding: 0px !important;

    .currencyContainer--shelf-product-default--price {
        font-family: $font-poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 150%;
        color: $color-shelf-default-selling-price;
    }
}


.listPriceContainer--shelf-product-default--price {
    padding: 0px !important;

    
    .listPrice--shelf-product-default--price {
        padding: 0px !important;

        .currencyContainer--shelf-product-default--price {
            font-family: $font-poppins;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 150%;
            text-decoration-line: line-through;
            color: $color-gray-300;
        }
    }
}

.productPriceClass--shelf-product-default--price {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}


.sellingPriceLabel--shelf-product-default--price,
.listPriceLabel--shelf-product-default--price {
    display: none !important;
} 

.element--shelf-product-default {
    padding: 0px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    height: 100% !important;
    flex: 1;
}


.container--shelf-product-default {
    // width: 260px;
    background: $color-white;
    border: 1px solid $color-shelf-default-border-element;
    border-radius: 16px;
    height: auto !important;
    min-height: 391px;

    @include desktop {
        min-height: 410px !important;
        max-width: none !important;

        &:hover {
            cursor: pointer;
            border: 1px solid $color-primary;

            
            .image--shelf-product-default--image--hover {
                display: inline !important;
                z-index: 100 !important;
            }
        }
    }

    @include desktopXXXLarge {
        min-height: 450px !important;
    }
}

.installments--shelf-product-default {
    text-align: left;
}

.clearLink--shelf-product-default {
    height: 100% !important;
    display: flex;
    flex: 1;
}

.price_installmentContainer--shelf-product-default--price {
    display: none !important;
}