@use "../../settings/index" as *;

.flexRow--institutional-navigation {
    width: 100%;
    height: auto;
    margin-top: 20px;
    
    .flexRowContent--institutional-navigation {
        width: 100%;
        height: auto;

        .stretchChildrenWidth {
            width: 100% !important;
            height: auto !important;
        }

        :global(.vtex-institutional-navigation--options-container) {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 14px;
            width: 100%;
            height: auto;
        }

        :global(.vtex-institutional-navigation--element-link) {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding: 16px 20px;
            text-decoration: none;
            border-bottom: 1px solid $color-gray-300;
            transition: all .3s ease;
            border-radius: 8px;

            &:hover {
                transition: all .3s ease;
                cursor: pointer;
                border-bottom: 1px solid transparent;
                background-color: $color-primary;
                border-radius: 8px;
            
                :global(.vtex-institutional-navigation--element-text) {
                    color: $color-white !important;
                }

                :global(.vtex-institutional-navigation--arrow-right-icon-black-path) {
                    stroke: $color-white !important;
                }
            }

            &:global(.vtex-institutional-navigation--element-link-active) {
                border-bottom: 1px solid transparent;
                background-color: $color-primary;
                border-radius: 8px;
            
                :global(.vtex-institutional-navigation--element-text) {
                    color: $color-white !important;
                }
            }

            :global(.vtex-institutional-navigation--element-text) {
                font-family: $font-poppins;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 150%;
                text-transform: capitalize;
                color: $color-gray-300;
            }
        }
    }
}