@use "../../settings/index" as *;

.wrapper--wishlist-empty-list-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 10px;
    width: 100%;
    max-height: 68px;
    background: rgba(255, 120, 176, 0.3);
    border-radius: 10px;

    @include desktop {
        max-width: 370px;
    }
}

.container--wishlist-empty-list-description {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 25px;

    @include desktop {
        margin-top: 50px;
    }
}

.headingLevel3--wishlist-empty-list-description {
    font-family: $font-poppins;
    font-style: normal; 
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    display: flex;
    align-items: center;
    text-align: center;
    color: $color-text-primary;
}