@use "../../../../settings/index" as *;

.skuSelectorContainer--pdp-main-info {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;

    .skuSelectorSubcontainer {
        margin-bottom: 0px;

        .skuSelectorNameContainer {
            margin: 0px !important;
            padding: 0px !important;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 8px;

            .skuSelectorTextContainer {
                margin: 0px !important;
                padding: 0px !important;

                .skuSelectorName {
                    font-family: $font-poppins;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 150%;
                    color: $color-gray-400;
                    text-transform: lowercase !important;
                    text-align: left !important;
                }
            }

            .skuSelectorOptionsList {
                margin: 0px !important;
                gap: 8px;

                .skuSelectorItem--pdp-main-info {
                    margin: 0px !important;

                    .skuSelectorInternalBox--pdp-main-info {
                        border: 1px solid $color-gray-400 !important;
                        border-radius: 8px !important;
                        padding: 6px 20px;

                        @include desktop {
                            &:hover {
                                border: 1px solid $color-primary !important;
                                background: $color-primary !important;
                                transition: background 0.2s ease;
                                cursor: pointer;

                                .valueWrapper--pdp-main-info {
                                    transition: color 0.2s ease;
                                    color: $color-white !important;
                                    transition: background 0.2s ease;
                                    cursor: pointer;
                                }
                            }

                            &:active {
                                background: $color-clean-brown !important;
                                border: 1px solid $color-clean-brown !important;
                            }
                        }

                        .valueWrapper--pdp-main-info {
                            padding: 0px !important;
                            font-family: $font-poppins;
                            font-style: normal;
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 140%;
                            text-align: center;
                            letter-spacing: 0.04em;
                            color: $color-gray-500;
                        }
                    }

                    &.skuSelectorItem--pdp-main-info--selected {
                        .skuSelectorInternalBox--pdp-main-info {
                            border: 1px solid $color-primary !important;

                            .valueWrapper--pdp-main-info {
                                color: $color-primary !important;
                            }

                            @include desktop {
                                &:hover {
                                    border: 1px solid $color-primary !important;
                                    background: $color-primary !important;
    
                                    .valueWrapper--pdp-main-info {
                                        color: $color-white !important;
                                    }
                                }
                            }
                        }
                    }


                    &.unavailable--pdp-main-info {
                        .skuSelectorInternalBox--pdp-main-info {
                            border: 1px solid $color-gray-750 !important;
                            position: relative;
                            overflow: hidden;

                            &::after {
                                content: "";
                                position: absolute;
                                left: 0px;
                                bottom: 0;
                                top: 0;
                                width: 140%;
                                height: 2px;
                                background: #b8b8bc;
                                transform: rotate(30deg);
                                transform-origin: left bottom;
                            }

                            .valueWrapper--pdp-main-info {
                                color: $color-gray-750 !important;
                            }

                            @include desktop {
                                &:hover {
                                    border: 1px solid $color-primary !important;
                                    background: $color-primary !important;
    
                                    .valueWrapper--pdp-main-info {
                                        color: $color-white !important;
                                    }
                                }
                            }
                        }

                        .diagonalCross--pdp-main-info {
                            display: none !important;
                        }
                    }
                }

                .frameAround--pdp-main-info {
                    display: none !important;
                }

                .skuSelectorItemImage--pdp-main-info {
                    width: 50px !important;
                    height: 50px !important;

                    .skuSelectorItemImageValue--pdp-main-info {
                        width: 50px !important;
                        height: 50px !important;
                        object-fit: cover;
                        border-radius: 8px !important;
                    }

                    .skuSelectorInternalBox--pdp-main-info {
                        padding: 0px !important;
                    }
                }

                .seeMoreButton {
                    :global(.vtex-button) {
                        background-color: transparent !important;

                        &:hover {
                            background-color: transparent !important;
                        }
                    }
                }
            }
        }
    }
}
