$color-primary: #FF78B0;
$color-secondary: #F9B9DA;

$color-white: #FFFFFF;
$color-brown: #CA9A8E;
$color-clean-brown: #F6D5C5;
$color-clean-brown-rgb: #F6D5C54D;
$color-gray-100: #F5F5F5;
$color-gray-125: #F7F7F8;
$color-gray-150: #F9F9F9;
$color-gray-200: #EEEEEE;
$color-gray-300: #858588;
$color-gray-350: #A4A4A5;
$color-gray-375: #C5C6CB;
$color-gray-400: #484849;
$color-gray-500: #282828;
$color-gray-600: #1B1C17;
$color-gray-700: #DFDFE4;
$color-gray-750: #B8B8BC;
$color-gray-800: #646363;
$color-gray-900: #D7D7DA;
$color-clean-pink: #FF78B04D;


$color-text-primary: $color-gray-500;
$color-text-secondary: $color-gray-400;
$color-text-muted: $color-gray-300;
$color-accent: $color-primary;
$color-wishlist-btn: $color-primary;
$color-email-password-option-btn-text: $color-primary;
$color-access-code-option-btn-text: $color-white;
$color-forgot-password: $color-primary;
$color-login-back-button: $color-primary;
$color-slider-dots: $color-gray-700;
$color-slider-dots-desktop: $color-gray-750;
$color-slider-dots-active: $color-primary;
$color-slider-dots-active-desktop: $color-gray-500;
$color-minicart-title: $color-gray-400;
$color-empty-state-description: $color-gray-400;
$color-background-seo-footer: $color-gray-150;
$color-text-seo-footer: $color-gray-400;
$color-title-newsletter: $color-gray-500;
$color-description-newsletter: $color-gray-500;
$color-background-btn-newsletter: $color-gray-500;
$color-text-btn-newsletter: $color-white;
$color-border-input-newsletter: $color-gray-700;
$color-stamp-location: $color-gray-300;
$color-border-btn-footer-accordion: $color-gray-700;
$color-title-modal-shop: $color-gray-400;
$color-instalment-modal: $color-gray-300;
$color-quantity-modal: $color-gray-300;
$color-border-quantity-modal: $color-gray-700;
$color-quantity-minicar: $color-gray-500;
$color-shelf-default-name: $color-gray-400;
$color-shelf-default-selling-price: $color-gray-400;
$color-shelf-default-border-element: $color-gray-700;
$color-shelf-default-instalments: $color-gray-400;
$color-discount-flag: rgba(249, 185, 218, 0.6);
$color-border-top-minicart: rgba(0, 0, 0, 0.1);
$color-minicart-checkout-button: $color-gray-700;
$color-minicart-subtotal: $color-gray-300;
$color-minicart-name-product: $color-gray-400;
$color-minicart-price-product: $color-gray-400;
$color-minicart-quantity-border: $color-gray-700;
$color-minicart-element-border: $color-gray-700;
$color-minicart-quantity-value: $color-gray-400;
$color-coupon-minicart-text: $color-gray-300;
$color-coupon-minicart-input: $color-gray-750;
$color-coupon-minicart-input-value: $color-gray-750;
$color-free-shipping-text: $color-gray-500;
$color-free-shipping-bar: $color-gray-375;
$color-navigation-footer-desktop-link-text: $color-gray-400;

$color-background-primary: $color-white;
$color-text-on-dark: $color-white;
$color-earth: #4E483B;
$color-background-secondary-opacity: #F9B9DA1A;

$color-header-menu-mobile:#F7F7F8;
