@use "../../../../../settings/index" as *;

.imageElement--the-brand-main-image-mobile,
.imageElement--the-brand-sub-image-mobile {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}