@use "../../settings/index" as *;

body.body-order-form.body-email {
    padding: 0px !important;
    background-color: $color-bg-secondary;

    div.container.container-main {
        margin-top: 20px !important;
    }

    .front-container,
    .cart-continue-shopping {
        display: none;
        visibility: hidden;
    }

    h1#orderform-title {
        display: none !important;
        visibility: hidden;
    }

    div#shipping-data,
    div#payment-data {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 30px 16px;
        gap: 16px;
        width: 100%;
        height: 84px;
        background: $color-bg-primary;
        border: 1px solid $color-border-primary;
        border-radius: 10px;

        .accordion-group {
            padding: 0px !important;
            margin: 0px !important;
            border: none !important;
            width: 100% !important;
            background-color: transparent !important;

            .accordion-heading {
                width: 100% !important;

                .icon-home,
                .icon-credit-card {
                    display: none !important;
                }

                .accordion-toggle {
                    font-family: $font-poppins;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;
                    color: $color-secondary-dark;

                    a.link-box-edit {
                        padding: 0px !important;
                        margin: 0px !important;

                        width: 20px;
                        height: 20px;
                        border: none !important;

                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: transparent;

                        .icon-edit {
                            display: none !important;
                            visibility: hidden;
                        }

                        &::before {
                            content: "";
                            display: block;
                            width: 24px;
                            height: 28px;
                            background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHZpZXdCb3g9IjAgMCAxOCAxOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGcgY2xpcC1wYXRoPSJ1cmwoI2NsaXAwXzIwODI3XzI2MikiPgo8cGF0aCBkPSJNOC4yNSAzSDNDMi42MDIxOCAzIDIuMjIwNjQgMy4xNTgwNCAxLjkzOTM0IDMuNDM5MzRDMS42NTgwNCAzLjcyMDY0IDEuNSA0LjEwMjE4IDEuNSA0LjVWMTVDMS41IDE1LjM5NzggMS42NTgwNCAxNS43Nzk0IDEuOTM5MzQgMTYuMDYwN0MyLjIyMDY0IDE2LjM0MiAyLjYwMjE4IDE2LjUgMyAxNi41SDEzLjVDMTMuODk3OCAxNi41IDE0LjI3OTQgMTYuMzQyIDE0LjU2MDcgMTYuMDYwN0MxNC44NDIgMTUuNzc5NCAxNSAxNS4zOTc4IDE1IDE1VjkuNzUiIHN0cm9rZT0iI0ZGNzhCMCIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8cGF0aCBkPSJNMTMuODc1IDEuODc1QzE0LjE3MzQgMS41NzY2MyAxNC41NzggMS40MDkwMSAxNSAxLjQwOTAxQzE1LjQyMiAxLjQwOTAxIDE1LjgyNjYgMS41NzY2MyAxNi4xMjUgMS44NzVDMTYuNDIzNCAyLjE3MzM3IDE2LjU5MSAyLjU3ODA1IDE2LjU5MSAzQzE2LjU5MSAzLjQyMTk2IDE2LjQyMzQgMy44MjY2MyAxNi4xMjUgNC4xMjVMOSAxMS4yNUw2IDEyTDYuNzUgOUwxMy44NzUgMS44NzVaIiBzdHJva2U9IiNGRjc4QjAiIHN0cm9rZS13aWR0aD0iMS41IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPC9nPgo8ZGVmcz4KPGNsaXBQYXRoIGlkPSJjbGlwMF8yMDgyN18yNjIiPgo8cmVjdCB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIGZpbGw9IndoaXRlIi8+CjwvY2xpcFBhdGg+CjwvZGVmcz4KPC9zdmc+Cg==");
                            background-size: contain;
                            background-repeat: no-repeat;
                            background-position: center;
                        }
                    }
                }
            }

            .accordion-inner {
                display: none;
            }
        }
    }

    .vtex-checkout-header__mobile-navigation {
        .vtex-checkout-header__mobile-navigation--elements {
            .vtex-checkout-header__mobile-navigation--element {
                &:nth-child(1) {
                    .vtex-checkout-header__mobile-navigation--icon {
                        .vtex-checkout-header__resume-icon {
                            display: none !important;
                        }

                        .vtex-checkout-header__check-icon {
                            display: flex !important;
                            width: 24px;
                            height: 24px;
                        }
                    }
                }

                &:nth-child(3) {
                    .vtex-checkout-header__mobile-navigation--icon {
                        .vtex-checkout-header__identification-icon {
                            path {
                                stroke: $color-primary !important;
                            }
                        }
                    }

                    .vtex-checkout-header__mobile-navigation--text {
                        color: $color-primary !important;
                        font-weight: 600 !important;
                    }
                }
            }
            
            span.vtex-checkout-header__header-navigation--separator#vtex-checkout-header__header-navigation--separator-2 {
                border-bottom: 1px solid $color-primary !important;
            }
        }
    }

    form.form-page.client-pre-email {
        position: relative;
        border: none !important;
    
        p.link.link-cart {
            display: none !important;
            visibility: hidden;
        }

        fieldset.pre-email {
            
        }

        div.emailInfo {

        }
    }

    div.client-profile-data#client-profile-data {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 16px;
        gap: 10px;
        height: auto;
        background: $color-bg-primary;
        border-radius: 10px;
        overflow: hidden;

        form.form-page.client-pre-email {
            .pre-email.row-fluid {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;

                .client-pre-email-h {
                    margin: 0px 0px 12px 0px !important;

                    label {
                        small {
                            font-family: $font-poppins;
                            font-style: normal;
                            font-weight: 400;
                            font-size: 12px;
                            line-height: 130%;
                            padding: 0px !important;
                            color: $color-text-gray;
                        }

                        span {
                            font-size: 0px !important;
                            text-align: left;

                            &::before {
                                content: "E-mail";
                                font-family: $font-poppins;
                                font-style: normal;
                                font-weight: 600;
                                font-size: 16px;
                                line-height: 24px;
                                color: $color-secondary-dark;
                            }
                        }
                    }
                }

                .client-email.input  {
                    display: flex;
                    flex-direction: column;
                    gap: 6px;
                    align-items: flex-start;
                    justify-content: flex-start;

                    &::before {
                        content: "E-mail";
                        font-family: $font-poppins;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 140%;
                        color: $color-text-secondary;
                    }

                    input {
                        box-sizing: border-box;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        padding: 10px 20px;
                        width: 100%;
                        max-height: 40px;
                        background: $color-bg-primary;
                        border: 1px solid $color-border-secondary;
                        border-radius: 8px;

                        font-family: $font-poppins;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 140%;
                        color: $color-text-secondary;
                    }

                    button {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        padding: 11px 30px;
                        gap: 10px;
                        outline: none;
                        border: none;

                        width: 100%;
                        max-height: 42px;
                        background: $color-primary;
                        border-radius: 8px;

                        span {
                            font-family: $font-poppins;
                            font-style: normal;
                            font-weight: 700;
                            font-size: 14px;
                            line-height: 140%;
                            text-align: center;
                            letter-spacing: 0.04em;
                            color: $color-bg-primary;
                        }
                    }
                }
            }

            div.emailInfo {
                margin: 0px !important;
                padding: 20px 10px !important;
                isolation: isolate;
                width: 100%;
                height: auto;
                background: $color-modal;
                border-radius: 16px;
                box-sizing: border-box;

                h3 {
                    font-family: $font-poppins;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 140%;
                    color: $color-primary;
                    margin:0px 0px 8px 0px !important;
                }

                ul {
                    margin: 0px !important;
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    align-items: flex-start;
                    justify-content: flex-start;
                    width: 100%;

                    li {
                        display: flex;

                        i {
                            margin-right: 8px;

                            &::before {
                                content: "";
                                display: block;
                                width: 20px;
                                height: 20px;
                                background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTQuMjU0NjkgMTUuNzQ1M0MzLjUzNTk0IDE1LjAyNjYgNC4wMTI1IDEzLjUxNjQgMy42NDY4OCAxMi42MzJDMy4yNjcxOSAxMS43MTg4IDEuODc1IDEwLjk3NjYgMS44NzUgMTBDMS44NzUgOS4wMjM0NCAzLjI2NzE5IDguMjgxMjUgMy42NDY4OCA3LjM2Nzk3QzQuMDEyNSA2LjQ4NDM3IDMuNTM1OTQgNC45NzM0NCA0LjI1NDY5IDQuMjU0NjlDNC45NzM0NCAzLjUzNTk0IDYuNDg0MzcgNC4wMTI1IDcuMzY3OTcgMy42NDY4OEM4LjI4NTE2IDMuMjY3MTkgOS4wMjM0NCAxLjg3NSAxMCAxLjg3NUMxMC45NzY2IDEuODc1IDExLjcxODggMy4yNjcxOSAxMi42MzIgMy42NDY4OEMxMy41MTY0IDQuMDEyNSAxNS4wMjY2IDMuNTM1OTQgMTUuNzQ1MyA0LjI1NDY5QzE2LjQ2NDEgNC45NzM0NCAxNS45ODc1IDYuNDgzNTkgMTYuMzUzMSA3LjM2Nzk3QzE2LjczMjggOC4yODUxNiAxOC4xMjUgOS4wMjM0NCAxOC4xMjUgMTBDMTguMTI1IDEwLjk3NjYgMTYuNzMyOCAxMS43MTg4IDE2LjM1MzEgMTIuNjMyQzE1Ljk4NzUgMTMuNTE2NCAxNi40NjQxIDE1LjAyNjYgMTUuNzQ1MyAxNS43NDUzQzE1LjAyNjYgMTYuNDY0MSAxMy41MTY0IDE1Ljk4NzUgMTIuNjMyIDE2LjM1MzFDMTEuNzE4OCAxNi43MzI4IDEwLjk3NjYgMTguMTI1IDEwIDE4LjEyNUM5LjAyMzQ0IDE4LjEyNSA4LjI4MTI1IDE2LjczMjggNy4zNjc5NyAxNi4zNTMxQzYuNDg0MzcgMTUuOTg3NSA0Ljk3MzQ0IDE2LjQ2NDEgNC4yNTQ2OSAxNS43NDUzWiIgc3Ryb2tlPSIjRkY3OEIwIiBzdHJva2Utd2lkdGg9IjEuMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+CjxwYXRoIGQ9Ik02Ljg3NSAxMC42MjVMOC43NSAxMi41TDEzLjEyNSA4LjEyNSIgc3Ryb2tlPSIjRkY3OEIwIiBzdHJva2Utd2lkdGg9IjEuMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cjwvc3ZnPgo=");
                                background-size: contain;
                                background-repeat: no-repeat;
                                background-position: center;
                            }
                        }

                        span {
                            font-family: $font-poppins;
                            font-style: normal;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 140%;
                            color: $color-text-secondary;
                        }
                    }
                }

                .icon-lock {
                    display: none !important;
                    visibility: hidden;
                }
            }
        }
    }

    div.client-profile-data:not(#client-profile-data) {
        display: none !important;
        visibility: hidden;
    }

    div.row-fluid.orderform-template.active{
        div.row-fluid {

            &::before,
            &::after {
                content: "";
                display: none;
                visibility: hidden;
            }

            display: flex;
            flex-direction: column;
            gap: 16px;
            align-items: center;
            justify-content: center;
        }
    }
}