@use "../../../settings/index" as *;

.flexRow--institutional-navigation-section {
    width: 100%;
    height: auto;
    padding: 20px;

    :global(.vtex-store-components-3-x-container) {
        padding: 0px !important;
        margin: 0px !important;

        @include desktop {
            @include container-fluid;
        }
    }
}   

.flexRowContent--institutional-navigation-section {
    @include desktop {
        flex-direction: column !important;
        align-items: center !important;
        justify-content: center !important;
    }
}