.slick-slider .slick-track,
.slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.slick-list {
	position: relative;
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0 20px 0px 0px !important;
}

.slick-slider {
	max-width: 1300px;
	max-height: 600px;
	height: 100%;
	width: 100%;
}

.slick-track {
	position: relative;
	top: 0;
	left: 0;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.slick-track:before,
.slick-track:after {
	display: table;

	content: '';
}

.slick-track:after {
	clear: both;
}

.slick-slider {
	position: relative;

	display: block;
	box-sizing: border-box;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}

.slick-slide {
	float: left;
	height: 100%;
	min-height: 1px;
}

.slick-slide {
	padding: 0px 18px 0px 0px;
}

.slick-slide img {
	display: block;
	margin: auto;
}

.slick-dots {
  margin-top: 26px !important;
}

.slick-dots li button {
  height: 3px !important;
  min-width: 70px !important;
  border-radius: 2px;
}

.slick-dots li.slick-active button {
  background-color: #000 !important;
}