@use "../../../../settings/index" as *;

.imageElement--banner-collection-desktop {
    @include desktop {
        height: 100% !important;
    }
}

.imageElementLink--banner-collection-desktop {
    position: relative;
    border-radius: 16px;
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        inset: 0; 
        z-index: 10;
        background: linear-gradient(182.42deg, #FFD1E3 15.93%, #FF78B0 85.2%);
        opacity: 0;
        border-radius: inherit;
        transition: opacity 0.4s ease-in-out; 
    }

    @include desktop {
        &:hover::before {
            opacity: 0.3; 
        }

        
        &:hover {   
            transition: transform 0.4s ease-in-out;
        }
    }
}
