$color-primary: #FF78B0;
$color-secondary-dark: #282828;
$color-bg-primary: #FFFFFF;
$color-bg-secondary: #F8F8F8;
$color-modal: #F7F7F8;
$color-white-1: #F1F1F3;
$color-border-primary: #DFDFE4;
$color-text-gray: #484849;
$color-text-tertiary: #1B1C17;
$color-border-secondary: #B8B8BC;
$color-border-tertiary: #D7D7DA;
$color-text-secondary: #858588;