@use "../../settings/index" as *;

.flexRow--shipping-simulator-custom-container {
    width: 100%;
    height: auto;

    .flexRowContent--shipping-simulator-custom-container {
        padding: 30px 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        background: $color-white;
        border: 1px solid $color-gray-750;
        border-radius: 8px;

        @include desktop {
            padding: 30px 50px;
        }

        &::before {
            content: "Calcular frete";
            font-family: $font-poppins;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 150%;
            color: $color-gray-400;
        }

        :global(.vtex-address-form__postalCode) {
            padding: 0px 0px 10px 0px !important;

            @include desktop {
                padding: 0px !important;
            }

            :global(.vtex-input) {
                :global(.vtex-input__label) {
                    display: none !important;
                }
            }
        }

        :global(.vtex-address-form__postalCode-forgottenURL) {
            font-family: $font-poppins;
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 150%;
            color: $color-primary;
            text-transform: uppercase;
            padding: 0px !important;
            margin-top: 16px;
            transition: color 0.2s ease;

            @include desktop {
                margin-top: 0px !important;

                &:hover {
                    color: $color-secondary !important;
                    transition: color 0.2s ease;
                }
            }

            :global(.vtex__icon-external-link) {
                display: none !important;
            }
        }

        :global(.vtex-shipping-simulator-custom--shipping-result-area) {
            margin-top: 20px !important;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            gap: 16px;

            :global(.vtex-shipping-simulator-custom--shipping-result-element) {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 16px;
                width: 100%;

                :global(.vtex-shipping-simulator-custom--shipping-result-label) {
                    font-family: $font-poppins;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 150%;
                    color: $color-gray-400;
                }

                :global(.vtex-shipping-simulator-custom--shipping-result-row) {
                    display: flex;
                    gap: 10px;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    padding: 10px 16px;

                    @include desktop {
                        padding: 10px 20px !important;
                    }

                    &:nth-child(odd) {
                        background: transparent;
                    }

                    &:nth-child(even) {
                        background: #F7F7F8;
                    }

                    :global(.vtex-shipping-simulator-custom--shipping-result-title-row) {
                        font-family: $font-poppins;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 12px;
                        line-height: 130%;
                        color: $color-gray-400;
                    }

                    :global(.vtex-shipping-simulator-custom--shipping-result-estimate) {}

                    :global(.vtex-shipping-simulator-custom--shipping-result-price) {
                        font-family: $font-poppins;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 130%;
                        color: $color-gray-400;
                    }

                    :global(.vtex-shipping-simulator-custom--shipping-result-price) {
                        font-family: $font-poppins;
                        font-style: normal;
                        font-weight: 700;
                        font-size: 12px;
                        line-height: 130%;
                        text-align: right;
                        color: $color-gray-400;
                    }
                }
            }
        }

        :global(.vtex-shipping-simulator-custom--container) {
            :global(.vtex-button) {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 10px 20px;
                gap: 10px;
                width: 100%;
                height: 100%;
                max-height: 40px;
                min-height: 40px;
                background: $color-secondary;
                border-radius: 8px;
                text-transform: capitalize !important;

                margin: 0px !important;
                border: none !important;
                outline: none !important;

                :global(.vtex-button__label) {
                    font-size: 0px !important;

                    &::after {
                        content: "Calcular";
                        font-family: $font-poppins;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 140%;
                        text-align: center;
                        letter-spacing: 0.04em;
                        color: $color-text-primary;
                        text-transform: capitalize !important;
                    }
                }
            }

            @include desktop {
                :global(.vtex-store-components-3-x-shippingContainer) {
                    display: grid;
                    grid-template-columns: 300px auto;
                    gap: 10px;
                }
            }
        }
    }
}