:global(.vtex-flex-layout-0-x-flexRowContent--redirect-action-btns) {
    & > :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
        &:first-child {
            width: auto !important;
        }

        &:last-child {
            width: auto !important;
        }
    } 
}

:global(.vtex-flex-layout-0-x-flexRowContent--header-desktop-wrapper) {
    & > :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
        &:first-child {
            width: auto !important;
        }

        &:last-child {
            width: 100% !important;
        }
    } 
}

:global(.vtex-flex-layout-0-x-flexRowContent--right-side-header-desktop) {
    :global(.vtex-store-components-3-x-searchBarContainer) {
        min-width: 100% !important;
    }
}