@use "../../../../settings/index" as *;

.flexRow--search-not-found {
    width: 100%;
    height: auto;
    padding: 20px;

    @include desktop {
        padding: 60px 80px !important;
        background: $color-background-secondary-opacity;
    }

    :global(.vtex-store-components-3-x-container) {
        padding: 0px !important;

        @include desktop {
            @include container-fluid;
        }
    }
}

.flexRowContent--search-not-found {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;

    @include desktop {
        flex-direction: row !important;
    
        .stretchChildrenWidth {
            width: auto !important;
        }
    }
}